body {
    background: rgb(128, 128, 214);
}

header {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

div#box {
    text-align: center;
    padding: 80px;
}

div#length {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    padding: 28px;
    background-color: orange;
    width: 50px;
    height: 40px;
    margin: auto;
    border-radius: 200px;
}

div#but {
    background-color: rgb(228, 0, 0);
    width: 500px;
    height: 30px;
    margin: auto;
    text-align: center;
    font-size: bold;
    font-weight: bold;
}