header {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

section {
    margin: auto;
    background: rgb(3, 74, 145);
    width: 500px;
    height: 580px;
    box-shadow: 1px 2px 3px 5px rgba(0, 0, 255, 0.476);
}

div#txt {
    text-align: center;
    padding: 80px;
}

input#word {
    padding: 12px;
}

div#length {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    padding: 28px;
    background-color: orange;
    width: 100px;
    height: 43px;
    margin: auto;
    box-shadow: 1px 1px 2px 5px rgba(255, 166, 0, 0.517);
}

div#but {
    background-color: rgb(228, 0, 0);
    color: rgb(88, 33, 33);
    width: 250px;
    height: 65px;
    margin: auto;
    margin-top: 150px;
    text-align: center;
    font-size: bold;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 2px 3px 4px 5px rgb(51, 45, 45);
}