section {
    width: 500px;
    height: 340px;
    background: rgb(255, 177, 7);
    margin: auto;
}

div#title {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    box-shadow: 2px 3px 4px black;
}

div#sex {
    text-align: center;
    padding: 20px;
}

input#altura {
    padding: 6px;
}

div#res {
    text-align: center;
}

footer {
    text-align: center;
    font-style: italic;
}